#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background: #00a087;
  top: 0px;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  height: 100%;
  margin-left:10px;
  color: #e8fdff;
  line-height: 80px;
}

#nav-bar .compose {
  border: 1px solid black;
  float: right;
  color: #00A087;
  background-color: white;
  border-radius: 5px;
  padding: 20px 10px;
  font-size: 20px;
  margin-top: 5px;
}

#nav-bar .compose:hover {
  color: black;
  font-weight: bold;
}



