textarea {
  width: 370px;
  padding-top: 5px;
  padding-left: 5px;
}

.counter {
  float: right;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

.new-tweet {
  display: none;
  border: 2px solid #e4e4e4;
  border-radius: 5px;
  background-color: #eee;
  padding: 5px;

}

.container {
  padding: 1em 2em 4em 2em;
}

.counter {
  margin-top: 5px;
}

.redText {
  color:red;
}





